footer {
    background: rgba( 0, 0, 0, 1);
    min-height: 15vh;
    padding: 1rem;

    .footerContacto {
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;

        a {
            display: flex;
            justify-content: center;
            text-decoration: none;
            color: white;
        }
        
    }
}
