*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{font-family: 'Crimson Pro', serif;}
li{
    display: inline-block;
}
@mixin colorRectangulos ($colorFondo){
    background-color: $colorFondo;
}
.mainContainer{
    width: 100%;
    height: 900px;
    display: grid;
    grid-template-columns: 100%;/*en porcentaje*/
    grid-template-rows: 1fr 2fr;
    grid-template-areas:"texto"
                        "info-cuadrados";
        .mainContainer_speechContainer{
        height: auto;
        display: grid;
        grid-area: texto;
        text-align: center;
        grid-template-columns: 100%;
        grid-template-rows: 1fr 3fr;
        grid-template-areas:"vision"
                            "nuestrahistoria";
        grid-row-gap: 2rem;
        .mainContainer__speechContainer__visionContainer{
            grid-area: vision;
        }
        .mainContainer__speechContainer__nuestrahistoriaContainer{
            grid-area: nuestrahistoria;
        }
    }
   
    .mainContainer__rectaglesContainer{
        grid-area: info-cuadrados;
        height: auto;
        display: grid;
        grid-template-areas: "rec1 rec2 rec3";
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap: 2rem;
        justify-content: center;
        justify-items: center;
        align-items: center;
        .mainContainer__rectaglesContainer__rectagleOne{
            grid-area: rec1;
            background-color: rgb(207, 207, 207);
        }
        .mainContainer_rectaglesContainer_rectagleTwo{
            grid-area: rec2;
            @include colorRectangulos(rgb(150, 150, 150));
        }
        .mainContainer_rectaglesContainer_rectagleThree{
            grid-area: rec3;
            background-color: black;
            @include colorRectangulos(rgb(150, 150, 150));
        }
    }
}
.main__tasaciones{
    display: flex;
    background-color: rgb(150, 150, 150) ;
    justify-content: center;
    font-size: 40px;
    padding: 5px;
    color:rgb(139, 0, 0);
    .main__tasaciones__div{
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 5px;
        background-color: rgb(150, 150, 150);
        }
}

.main__alquileres{
    display: flex;
    background-color: rgb(150, 150, 150) ;
    justify-content: center;
    font-size: 40px;
    padding: 5px;
    color:rgb(139, 0, 0);
    .main__alquileres__div{
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 5px;
        background-color: rgb(150, 150, 150);
        }
}
.main__ventas{
    
}